<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ACME Products Categories</title>

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>

<body class="container">
  <!-- Header with tabs -->
  <header>
    <h1>ACME Product Categories</h1>
    <ul class="nav nav-tabs">
      <li class="active"><a href="">Home</a></li>
      <li><a href="#">Menu 1</a></li>
      <li><a href="#">Menu 2</a></li>
    </ul>
  </header>

  <section>
  <!-- Page content -->
    {% block content %}
    {% endblock %}
  </section>
</body>
</html>
