{% extends './layout.html' %}

{% block content %}
<h2>Products for {{ category }}</h2>

<form class="well" action="/categories/{{ category }}/products" method="POST">
  <div class="form-group">
    <input type="text" name="name" class="form-control" autofocus placeholder="Product name">
  </div>
  <button class="btn btn-primary">Save</button>
</form>

<ul class="list-group">
  {% for product in products %}
  <li class="list-group-item">
    <p>{{ product.name }}</p>
    <form action="/categories/{{ category }}/products/{{ product.id }}?_method=DELETE" method="POST">
      <button class="btn btn-warning">Delete</button>
    </form>
  </li>
  {% endfor %}
</ul>

<form action="/categories/{{ category }}?_method=DELETE" method="POST">
  <button class="btn btn-danger">Delete Category</button>
</form>
{% endblock %}
