{% extends 'layout.html' %}

{% block header %}
<!-- Header with tabs -->
{% endblock %}

{% block content %}
<h2>Products for {{ category }} </h2>

<form class="well">
  <div class="form-group">
    <input type="text" name="product name" class="form-control" autofocus placeholder="Product name">
  </div>
  <button class="btn btn-primary">Save</button>
</form>

<ul class="list-group">
  {% for product in products %}
  <li class="list-group-item">
    <p>{{ product.name }}</p>
    <button class="btn btn-warning">Delete</button>
  </li>
  {% endfor %}
</ul>

<button class="btn btn-danger">Delete Category</button>
{% endblock %}
